// SCSS Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Bootstrap Vue
// @import '~bootstrap-vue/src/index.scss';
// Toastr
@import "~toastr/toastr";
// // Fontawesome
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '~@fortawesome/fontawesome-free/scss/regular.scss';
// @import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '~@fortawesome/fontawesome-free/scss/brands.scss';
// Import Custom SB Admin 2 Mixins and Components
@import "fonts";

// Write your custom styling here
@import "text";
@import "background";
@import "cursor";

@mixin font(
  $font-family,
  $font-weight,
  $size,
  $align,
  $letter-spacing,
  $opacity
) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-size: $size;
  text-align: $align !important;
  letter-spacing: $letter-spacing;
  opacity: $opacity;
}

.filter-button {
  border: none;
  // height: 20px;
  border-radius: 6px;
  @include font("Inter", 400, 16px, "left", 0, 1);
  color: #535a78;
  background: $gray-50 0% 0% no-repeat padding-box;
  padding: 0.5rem 1rem;

  &--active {
    background: $gray-200 0% 0% no-repeat padding-box;
    color: $gray-900;
  }
}

.avatar-container {
  position: relative;
}

.hero-section {
    color: $gray-900;
  
    &__title {
      @include font("Inter", 500, 40px, "left", 0, 1);
    }
  
    &__description {
      @include font("Inter", 400, 18px, "center", 0, 1);
      margin-bottom: 70px;
      width: 350px;
    }
  }

  .task-title-input {
    width: 100%;
    position: relative;
  
    input {
      @include font("Inter", 400, 16px, "left", 0, 1);
      width: 100%;
      height: 57px;
      background: $gray-100;
      margin: 0 0 9px 0;
      padding: 10px 10px 10px 54.26px;
      box-sizing: border-box;
      border: none;
  
      &::placeholder {
        color: $gray-400;
      }
  
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  
    &__icon {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 29%;
      left: 21px;
      transform: translateY(-50%);
  
      &--plus {
        width: 23px;
        height: 23px;
      }
  
      &--circle {
        width: 20px;
        height: 20px;
      }
  
      path {
        fill: $gray-400;
      }
    }
  
    &__enter-prompt {
      color: $gray-400;
      @include font("Inter", 400, 14px, "left", 0, 1);
  
      &--enter {
        color: $pink;
      }
    }
  }
  
  .tasks-link {
      &:hover {
        color: $gray-600;
        text-decoration: none;
      }
  }

  .task-list {
    color: $gray-900;
    &__title {
      @include font("Inter", 500, 32px, "left", 0, 1);
      color: $gray-900;
  
      &:hover {
        color: $gray-900;
        text-decoration: none;
      }
    }
  }
  
  .search-input {
    width: 100%;
    height: 39px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e6e6e6;
    border-radius: 100px;
    @include font("Inter", 400, 16px, "left", 0, 1);
    padding: 10px 10px 10px 54.26px;
    box-sizing: border-box;
  
    &::placeholder {
      color: $gray-400;
    }
  
    &:focus {
      box-shadow: none;
      outline: none;
    }
  
    &--icon {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 30%;
      left: 18.36px;
  
      path {
        fill: $gray-400;
      }
    }
  }
  
  .task-item {
    @include font("Inter", 400, 16px, "left", 0, 1);
    background: $white;
    box-shadow: 0px 3px 6px #00000024;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    opacity: 1;
    padding: 10px 0;
  
    &__check-container {
      position: relative;
      margin: 0;
      padding: 0;
  
      &__icon {
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
        width: 21px;
        height: 21px;
  
        &:hover {
          cursor: pointer;
  
          path {
            fill: $gray-500 !important;
          }
        }
  
        path.done {
          fill: $gray-600;
        }
  
        path.pending {
          fill: $gray-400;
        }
      }
    }
  
    &__title-container {
      margin: 0;
      padding: 0;
      cursor: pointer;
  
      &__title {
        @include font("Inter", 400, 16px, "left", 0, 1);
        color: $gray-900;
  
        &--done {
          color: $gray-500;
          text-decoration: line-through;
        }
      }
    }
  
    &__options-container {
      position: relative;
      width: 72.75px;
      margin: 0;
      padding: 0;
  
      &__important-icon {
        position: absolute;
        top: 50%;
        right: 25%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 19px;
  
        &:hover {
          cursor: pointer;
        }
  
        path.important {
          fill: $yellow;
        }
  
        path.unimportant {
          fill: $gray-500;
        }
      }
  
      &__delete-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 19px;
  
        &:hover {
          cursor: pointer;
  
          path {
            fill: #ff4e66;
          }
        }
  
        path {
          fill: $gray-500;
        }
      }
    }
  }
  
  .avatar {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  

  .dropdown {
    transform: translate(-95%, 3%);
    position: absolute;
  
    z-index: 1;
    padding: 11px 10px 13px 12px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px #00000040;
    background: #fff;
    opacity: 1;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      cursor: pointer;
    }
  
    &__header {
      width: 100%;
      height: 32px;
      background-color: white;
      border-radius: 4px;
      z-index: 1;
  
      &__icon {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 30%;
        left: 5%;
  
        path {
          fill: $gray-400;
        }
      }
  
      &__input {
        width: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        @include font("Inter", 400, 13px, "left", 0, 1);
        padding: 8px 34px;
        box-sizing: border-box;
        border: 1px solid $gray-400;
  
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  
    &__content {
      width: 224px;
      height: 279px;
      overflow-y: scroll;
      margin-top: 10px;
      padding: 0;
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #d8dbe2; // $gray-300;
      }
    }
  }
  
  .user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-right: 8px;
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .user-name {
      @include font("Inter", 400, 14px, "left", 0, 1);
      color: #2f385b;
    }
  }
  
  .assignee-option {
    &--active {
      background: $gray-200;
    }
  
    &:hover {
      background: $gray-100;
    }
  }
  
  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    z-index: 9999;
  
    &-lg {
      width: 35%;
    }
  
    &__title {
      @include font("Inter", 400, 16px, "left", 0, 1);
    }
  
    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      @include font("Inter", 400, 14px, "left", 0, 1);
    }
  
    &__content {
      padding: 5px 0;
      margin-bottom: 8px;
    }
  
    &__confirm-button {
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      background-color: $primary;
      @include font('Inter', 400, 13px, 'left', 0, 1);
  
      &:hover {
        background-color: darken($primary, 25%);
      }
  
      &--delete {
        background-color: $danger;
      }
  
      &--delete:hover {
        background-color: darken($danger, 25%);
      }
    }
  
    &__cancel-button {
      background-color: #f5f5f5;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      @include font('Inter', 400, 13px, 'left', 0, 1);
  
      &:hover {
        background-color: #e0e0e0;
      }
    }
  
    input {
      width: 100%;
      background: #ffffff 0% 0% no-repeat padding-box;
      @include font("Inter", 400, 13px, "left", 0, 1);
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid $gray-400;
      border-radius: 5px;
  
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  